/vendor
/build/logs
/build/coverage
.env
.env.test
.env.zizibot
/gitignore
**/log
*.log
tests/build/
/src/Infrastructure/frwiki-latest-all-titles-in-ns0.txt
/coverage.xml
/src/Application/resources/typo_patterns/

# Config
/src/Application/ZiziBot_Bootstrap.php
/src/Application/resources/article_externRef_edited.txt
